@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root
  .default-light,
  .default-dark,
  .base,
  .cyberpunk,
  .hacker
  {
    /* Override specific variables as needed */
    --ock-bg-primary-hover: #AACBF2;
    --ock-text-foreground: white;
    --ock-icon-color-foreground: white;
    --ock-bg-primary: black;
    --ock-text-inverse: white;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}